$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Main Page */
.main {
  margin-top: 50px;

  .skillcard {
    width: 100%;
    background-color: #f39c12;
    
    border-radius: 5px;
    padding: 5px;
    display: table;
    height: 65px;

    .inner {
      width: 95%;
      height: 100%;
      border-radius: 5px;
      text-align: center;
      background-color: #fff;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .control {
    text-align: center;
    margin-bottom: 50px;

    .skillcard {
      position: absolute;
      .inner {
      }
    }

    h4 {
      text-align: center;
      margin-bottom: 50px;
    }

    .description {
      position: absolute;
      margin-top: 120px;
    }

    .buttons {
      margin-top: 240px;
    }

    .btn-default:focus {
      color: #333333;
      background-color: white;
      border-color: #cccccc;
    }

    h5 {
      margin-top: 60px;
    }

    p.instructions, ul li {
      text-align: left;
    }

    ul {
      padding: 0 0 0 18px;
    }

    ul li {
      padding-left: 10px;
    }
  }

  .columns {

    h5 {
      text-align: center;
      height: 65px;
    }

    .skillcard {
      margin-bottom: 10px;
      .inner {
      }
    }
  }
}

/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from    { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
  0% { -moz-transform: rotateZ(0deg); }
  20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
  40% { -moz-transform: rotateZ(17deg); }
  60% { -moz-transform: rotateZ(16deg); }
  100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

.card {
}

.card.ng-leave  { z-index:99; }
.card.ng-enter  { z-index:88; }

.card.ng-leave         {
   -webkit-transform-origin: 0% 0%;
  -webkit-animation: rotateFall 0.5s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: rotateFall 0.5s both ease-in;
  transform-origin: 0% 0%;
  animation: rotateFall 0.5s both ease-in;
}
.card.ng-enter    {  
  -webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;    
}
